body{
    background-image: linear-gradient(130deg, #851e1e 0%, #ff0000 50%, #851e1e 100%);
    font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Arial,Noto Sans,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol,Noto Color Emoji;
    overflow: hidden;
    height: 100%;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}
.login-section {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* 100% da altura da tela */
}

#formes {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px; /* Espaçamento interno opcional */
}

.item-login {
    margin: 10px; /* Espaçamento entre os campos */
    padding: 10px;
    width: 200px; /* Largura do campo */
}8